<%- include('partials/form-header') %>
<%- include('nav') %>


<div class="formbold-main-wrapper">
  <div class="formbold-form-wrapper">
    <form action="/submitarticle" method="POST">
      <div class="formbold-input-flex">
        <div>
          <label for="firstname" class="formbold-form-label">First name</label>
          <input type="text" name="firstname" id="firstname" placeholder="First Name" class="formbold-form-input" />
        </div>
        <div>
          <label for="lastname" class="formbold-form-label">Last name</label>
          <input type="text" name="lastname" id="lastname" placeholder="Last Name" class="formbold-form-input" />
        </div>
      </div>

      <div class="formbold-input-flex">
        <div>
          <label for="phone" class="formbold-form-label">Title</label>
          <input type="text" name="blogTitle" id="phone" placeholder="Title of Your Article"
            class="formbold-form-input" />
        </div>
      </div>

      <div class="formbold-input-radio-wrapper">
        <label for="jobtitle" class="formbold-form-label">How do you want to Post?</label>

        <div class="formbold-radio-flex">
          <div class="formbold-radio-group">
            <label class="formbold-radio-label">
              <input class="formbold-input-radio" type="radio" name="visibility" value="public" id="public">
              Public
              <span class="formbold-radio-checkmark"></span>
            </label>
          </div>

          <div class="formbold-radio-group">
            <label class="formbold-radio-label">
              <input class="formbold-input-radio" type="radio" name="visibility" value="private" id="private">
              Private
              <span class="formbold-radio-checkmark"></span>
            </label>
          </div>
        </div>
      </div>

      <div>
        <label for="message" class="formbold-form-label">Write Your Content</label>
        <textarea name="content" id="message" class="formbold-form-input" style="display:none;" rows="10" cols="12"></textarea>
        <script>
          CKEDITOR.replace( 'content' );
  </script>
      </div>

      <button class="formbold-btn" type="submit" name="button">Submit</button>
    </form>
  </div>
</div>

<%- include('partials/footer') %>
